<%= turbo_frame_tag(dom_id(product)) do %>
  <li>
    <div id="product_id_<%= product.id %>">
      <%= form_with url: "/line_items" do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= image_submit_tag product.image_url %>
      <% end %>
      <h2><%= product.title %></h2>
      <p>
        <%= sanitize(product.description) %>
      </p>
      <div class="price">
        <%= number_to_currency(product.price, unit: "R$ ", separator: ",", delimiter: ".") %>
        <%= button_to 'Add to Card', line_items_path(product_id: product) %>
      </div>
    </div>
  </li>
<% end %>